div.container{
  margin: 0% 10% 5%;
  height: 72vh;
  background: #e9ecef;
  border: 10px solid;
  border-radius: 20px;
  display: inline-block;
}

h2{
  margin-top: 1%;
}

img.static{
  position: absolute;
  margin-top: 1vh;
  height: 25vh;
  width: 14vw;
}

img.gif{
  position: relative;
  margin-top: 1vh;
  height: 25vh;
  width: 14vw;
  z-index: -1;
}

img.static:hover{
  opacity: 0;
}

body{
  text-align: center;
}

div.col-sm{
  background-color: green;
  width: 5vw;
  margin: 1em;
  height: 30vh;
  z-index: 0;
}
