extends ../../layout.pug

block content
  link(rel="stylesheet", href="/stylesheets/single/pong.css")
  script(src="/javascripts/single/pong/pong.js")
  link(rel="stylesheet", href="/stylesheets/games.css")
  script(language="javascript" type="text/javascript" src="../../../../vendors/p5.dom.js")
  script(language="javascript" type="text/javascript" src="../../../../vendors/p5.sound.js")

  body
    include ../../nav.pug

      div#scorecontainer
      div.controlsCont
        h3 Controls
          h5 Keys: A,Z
          h5 Goal: Dont let the puck pass your paddle

      div.contain
        h1.title More Singleplayer Games
        div.row
          div.col
            div.snake
              a.link(href='/game/single/snake')
                img.static(src="/images/snake1_static.png")
                img.gif(src="/images/snake1.gif")
              h2.gameName Snake
