extends ../../layout.pug

block content
  link(rel="stylesheet", href="/stylesheets/single/pong.css")
  script(src="/javascripts/single/pong/pong.js")
  script(language="javascript" type="text/javascript" src="../../../../vendors/p5.dom.js")
  script(language="javascript" type="text/javascript" src="../../../../vendors/p5.sound.js")
  
  body
    include ../../nav.pug
    div#actual-body
      //- a(href='/game/multi/local/pong')
      //-   button.btn.btn-primary#playagain Play Again
      div#scorecontainer
      div.controlsCont
        h3 Controls
          h5 Keys: A,Z
          h5 Goal: Dont let the puck pass your paddle
