extends ../../layout

block content
  link(rel="stylesheet", href="/stylesheets/single/snake.css")
  script(src="/javascripts/single/snake/snake.js")
  script(language="javascript" type="text/javascript" src="../../../../vendors/p5.dom.js")
  script(language="javascript" type="text/javascript" src="../../../../vendors/p5.sound.js")

  body
    div#actual-body
      include ../../nav.pug
      div#myContainer
