extends layout
  
block content
  link(rel='stylesheet', href='/stylesheets/index.css')
  body
    div
      h1(class='display-1')='BestOf3'
    br
    div(class='button-container')
      button(type='button', class= 'btn btn-primary', href='/game/single') Single Player
      button(type='button', class= 'btn btn-primary', href='/game/multi') Multiplayer
