extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')

  body
    div.pimg1
      div.ptext
        h1#indextitle BestOf3
        p.description Welcome to best of 3, the online retro arcade utilizing only p5.js and socket.io. These simple games aim to provide a modern flashback of the arcade era and create a fun user experience!


    section.section
      h2.section1 play
      p djnanfsdkjnl
      a(href='/game/single')
        button(id= 'single', type='button', class= 'btn btn-primary') Single Player
      a(href='/game/multi/local')
        button(id= 'multi', type='button', class= 'btn btn-primary') Local Multiplayer
      a(href='/game/multi/online')
        button(id= 'multi', type='button', class= 'btn btn-primary') Online Multiplayer
