extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')

  body
    div
      h1.bo3.display-1#indextitle='BestOf3'
    br
    div.button-container
      a(href='/game/single')
        button(id= 'single', type='button', class= 'btn btn-primary') Single Player
      a(href='/game/multi/local')
        button(id= 'multi', type='button', class= 'btn btn-primary') Local Multiplayer
