extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')

  body
    div.title
      img.logo(src="/images/logo.png")
      h1#indextitle BestOf3

    -if (user){
    div.profilecontainer
      div.dynamicProfile
        div.imgContainer
          img.profilePic(src="../../images/spaceinvader_sprite.png" alt="Space Invader Sprite")
        div.emailContainer
          h2.email #{user.email}
        br
        form.logoutContainer(action="/logout" method="get")
          input.logout(type="submit" value="Logout")
        form.logoutContainer(action="/stats" method="get")
          input.logout(type="submit" value="Stats")

      div.exp
        - var userLevel = 1
        - if (user.exp >= 50) {
        -  userLevel = 2
        - }
        - if (user.exp >= 125) {
        -  userLevel = 3
        - }
        - if (user.exp >= 310) {
        -  userLevel = 4
        - }
        - if (user.exp >= 780) {
        -  userLevel = 5
        - }
        - if (user.exp >= 2000) {
        -  userLevel = 6
        - }
        - if (user.exp >= 3500) {
        -  userLevel = 7
        - }
        - if (user.exp >= 6000) {
        -  userLevel = 8
        - }
        - if (user.exp >= 9500) {
        -  userLevel = 9
        - }
        - if (user.exp >= 14000) {
        -  userLevel = 10
        - }
        - if (user.exp >= 20000) {
        -  userLevel = 2
        - }
        span.lvl Level: #{userLevel} || Exp:
        span#exp #{user.exp}
        div.progressBar
          div.progress
    -} else {
    div.container
      div.left
        div.login Login
        div.eula
          form(action="/register" method="get")
            input#signup(type="submit" value="Signup")
      .right
        svg(viewbox='0 0 320 300')
          defs
            lineargradient#linearGradient(inkscape:collect='always' x1='13' y1='193.49992' x2='307' y2='193.49992' gradientunits='userSpaceOnUse')
              stop#stop876(style='stop-color:#F2B632;' offset='0')
              stop#stop878(style='stop-color:#EF4937;' offset='1')
          path(d='m 40,120.00016 239.99984,-3.2e-4 c 0,0 24.99263,0.79932 25.00016,35.00016 0.008,34.20084 -25.00016,35 -25.00016,35 h -239.99984 c 0,-0.0205 -25,4.01348 -25,38.5 0,34.48652 25,38.5 25,38.5 h 215 c 0,0 20,-0.99604 20,-25 0,-24.00396 -20,-25 -20,-25 h -190 c 0,0 -20,1.71033 -20,25 0,24.00396 20,25 20,25 h 168.57143')
        div.form
          form(action="/login", method="POST" id='loginform')
            label(for='email') Email
            input#email(type='email', name="email")
            label(for='password') Password
            input#password(type='password', name="password")
            input#submit(type='submit' value='Submit')
    -}

    div.contain
      h1.sectTitle Single Player Games
      div.single
        div.game
          a(href='/game/single/snake')
            img.static(src="/images/snake1_static.png")
            img.gif(src="/images/snake1.gif")
          h2.gameName Snake
        div.game
          a(href='/game/single/pong')
            img.static(src="/images/pong_static.png")
            img.gif(src="/images/pong.gif")
          h2.gameName Pong

    div.contain
      h1.sectTitle Local Multiplayer Games
      div.local
        div.game
          a(href='/game/multi/local/snake')
            img.static(src="/images/snake_static.png")
            img.gif(src="/images/snake.gif")
          h2.gameName Snake V Snake
        div.game
          a(href='/game/multi/local/pong')
            img.static(src="/images/pong_static.png")
            img.gif(src="/images/pong.gif")
          h2.gameName Pong
        div.game
          a(href='/game/multi/local/tron')
            img.static(src="/images/tron_static.png")
            img.gif(src="/images/tron.gif")
          h2.gameName Tron
      button#bo3(onclick="window.location.href='/game/multi/local/bo3'") Play BO3

    div.contain
      h1.sectTitle Online Multiplayer Games
      div.online
        div.game.one
          a(href='/game/multi/online/snake')
            img.static(src="/images/snake_static.png")
            img.gif(src="/images/snake.gif")
          h2.gameName Snake V Snake
        div.game
          a(href='/game/multi/online/tron')
            img.static(src="/images/tron_static.png")
            img.gif(src="/images/tron.gif")
          h2.gameName Tron

      script(src="../../../vendors/p5.dom.js" type="text/javascript")
      script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
      script(type="text/javascript", src='/javascripts/index.js')
      script(type="text/javascript", src="/javascripts/snake-background.js")
