extends layout

block content
  link(rel="stylesheet", href="/stylesheets/login-register.css")
  
  body
    div
      h1#title LOGIN
      form(action="/login" method="POST" id='loginform')
        label.alien(for="email") Email:
          input(type="email", name="email", placeholder="")
        br
        label.alien(for="password") Password:
          input(type="password", name="password", placeholder="")
        br
        button.btn.btn-primary(type="submit") Login
      h2.alien Don't have an account?
      a(href="/register")
        button.btn.btn-primary Register Here
