block content
  nav.navbar
    ul.nav
      li.float-left
        a(href="/")
          img(src="/images/logo.png")
      li.float-left
        a.home.navbar-brand(href='/') Home
      - if (!user) {
    div.nav
      span.float-right
        a#login(href="/user/login")='Login'
      span.float-right
        a#register(href="/user/register")='Register'
    - } else {
      - if (!cannotLogout) {
      span.float-right
        a#logout(href="/user/logout")= 'Logout'
      span.float-right
        a#profile(href="/user/profile")='Account'
      - }
    - }
