extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')
  
  include nav.pug
  
  body
    div
      h1 Register
      form(action="/register" method="POST")
        label(for="email") Email:
          input(type="email", name="email", placeholder="")
        br
        label(for="password") Password:
          input(type="password", name="password", placeholder="")
        br
        button.btn.btn-primary(type="submit") Submit
