extends ../layout

block content
  link(rel="stylesheet", href="/stylesheets/user/profile.css")

  body
    include ../nav.pug
    div.onlineStats
      div.onlineStatsTitleCont
        span.onlineStatsTitle Online Stats
      br
      div.importantStats
        p => Most Played Game: Snake
        p => Highest W/L Ratio: Pong
      br
      div.wltitlecont
        span.wltitle SNAKE
      div.wlcont
        - let winlossratio = wCount/lCount
        p Wins: #{wCount}
        p Losses: #{lCount}
        p W/L: #{winlossratio}
      
  script(src="/javascripts/profile-animation.js" type="text/javascript")
          
