extends ../layout

block content
  link(rel="stylesheet", href="/stylesheets/user/login-register.css")
  
  body
    div
      h1#title REGISTER
      form(action="/register" method="POST")
        label(for="email") Email:
          input(type="email", name="email", placeholder="")
        br
        label(for="password") Password
          input(type="password", name="password", placeholder="")
        br
        button(type="submit") Submit
