body{
  font-family: 'Press Start 2P', sans-serif;
  background: -moz-linear-gradient(top, #F2B632 5%, #EF4937 100%);
  background: -webkit-linear-gradient(top, #F2B632 5%,#EF4937 100%);
  background: linear-gradient(to bottom, #F2B632 5%,#EF4937 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424b54', endColorstr='#fff9f7',GradientType=0 );
}
@font-face {
    font-family: "alienS";
    src:url("/fonts/SFAlienEncountersSolid.ttf");
}
@font-face {
    font-family: "alien";
    src:url("/fonts/SFAlienEncounters.ttf");
}
#playagain:focus, #single:focus, #multi:focus{
  background-color: rgb(151,26,57);
  border-color: rgb(98,15,54);
  outline: 0 none;
}

div.controlsCont{
  min-width: 266px;
}
