.bo3{
  display: inline-block;
  background: -webkit-linear-gradient(
    left,
    #dfb549 0%,
    #d73b25 25%,
    #ca1d26 50%,
    #971a39 75%,
    #620f36 100%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button.btn-primary{
  margin: 5px;
  background-color: rgb(223,181,73);
  border-color: rgb(223,181,73);
  border-width: 3px;
}

button.btn-primary:hover{
  background-color: rgb(215,59,37);
  border-color: rgb(202,29,38);
}

#playagain:focus, #single:focus, #multi:focus{
  background-color: rgb(151,26,57);
  border-color: rgb(98,15,54);
  outline: 0 none;
}

#scorecontainer{
  margin-top: 30px;
  text-align: center;
}


