body, html{
  background: -moz-linear-gradient(top, #F2B632 5%, #EF4937 100%);
  background: -webkit-linear-gradient(top, #F2B632 5%,#EF4937 100%);
  background: linear-gradient(to bottom, #F2B632 5%,#EF4937 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424b54', endColorstr='#fff9f7',GradientType=0 );
  z-index: -2;
}

body{
  z-index: 0;
}

#indextitle{
  font-family: 'alienS';
  float: left;
  letter-spacing: 5px;
  font-size: 70px;
  color: #C9C9CA;
  padding-top: 20px;
  margin-left: 10px;
}

.title {
  background-color: #262838;
  height: 110px;
  margin-bottom: 100px;
  position: relative;
  z-index: 2;
  min-width: 565px;
}

.logo{
  margin-top: 8px;
  float: left;
  text-align: center;
  width: 161.50px;
  height: 92.5px;
}

#signup{
  border-radius: 4px;
  width: 190px;
  height: 50px;
  font-size: 30px;
  color: #343641;
  background-color: #F2B632;

}
#signup:active{
  font-size: 28px;
  -webkit-box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.63);
  -moz-box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.63);
  box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.63);
}
#bo3 {
  margin: 20px;
  border-radius: 5px;
  width: 220px;
  height: 65px;
  font-size: 24px;
  color: #343641;
  background-color: #F2B632;
}

.prev {
  position:absolute;
  top:75px;
  left:-80px;
  font-size: 50px;
  cursor: pointer;
}

.next {
  position:absolute;
  top:75px;
  right:-75px;
  font-size: 50px;
  cursor: pointer;
}

.sectTitle {
  font-family: 'alienS';
  font-size: 50px;
  letter-spacing: 2px;
  color: #343641;
  text-align: center;
  z-index: 2;
}

.local, .single, .online{
  padding-left: 1px;
  max-width: 200px;
  width: 200px;
  margin: 0 auto;
}

.single.slick-initialized.slick-slider{
  z-index: 2;
}

div.contain{
  z-index: 2;
}

div{
  z-index: 2;
}

.contain{
  text-align: center;
  max-width: 1000px;
  margin: 50px auto;
  border-style: solid;
  background-color: #C9C9CA;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  position: relative;
  z-index: 2;
}

h2.gameName{
  text-align: center;
  margin-top: 10px;
  color: #343641;
}

img.static{
  position: absolute;
  height: 200px;
  width: 200px;
  z-index: 2;
}

img.gif{
  height: 200px;
  width: 200px;
  z-index: 1;
}

img.static:hover{
  opacity: 0;
}


::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}

.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
  margin-bottom: 100px;
  z-index: 2;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background-color: #C9C9CA;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-family: 'alienS';
  letter-spacing: 3px;
  font-size: 60px;
  font-weight: 900;
  margin: 30px 30px 40px 40px;
  color: #343641;
}
.eula {
  color: #343641;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  font-family: 'alienS';
  letter-spacing: 2px;
  background: #252839;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
  z-index: 2;
}
.left{
  z-index: 2;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner {
  border: 0;
}
#submit {
  color: #707075;
  margin-top: 40px;
  transition: color 300ms;
}
#submit:focus {
  color: #f2f2f2;
}
#submit:active {
  color: #d0d0d2;
}
.imgContainer{
  border: solid;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 5px;
}
.progressBar{
  border: solid;
  border-radius: 10px;
  border-color: black;
  background-color: white;
}
.progress{
  margin: 2px;
  border-radius: 10px;
  width: 1%;
  background-color: gold;
  height: 15px;
}
.profilePic{
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 5px;
}
.emailContainer{
 display: inline-block;
 vertical-align: bottom;
 margin-left: 10px;
}
.email, .exp{
  color: white;
}
div.profilecontainer{
  background-color: #C9C9CA;
  position: relative;
  z-index: 2;
}
.profilecontainer, .onlineStats{
  border: solid;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 6px 8px 6px -6px grey;
  margin: 50px 100px 50px 100px;
  min-width: 400px;
}
.logoutContainer{
  display: inline-block;
  width: 200px;
  margin: 4px auto 8px 5px;
  border: 4px solid black;
  background-color: white;
  border-radius: 4px;
}
.logout{
  color: black;
}
.logoutContainer:hover{
  background-color: #B5B5B7;
}
