@font-face {
  font-family: "prisma";
  src: url(fonts/prisma/Prisma.ttf);
}

body, html{
  background: -moz-linear-gradient(top, #677077 30%, #A5A5A7 100%);
  background: -webkit-linear-gradient(top, #677077 30%,#A5A5A7 100%);
  background: linear-gradient(to bottom, #677077 30%,#A5A5A7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424b54', endColorstr='#fff9f7',GradientType=0 );
}

#indextitle{
  float: left;
  letter-spacing: 5px;
  font-size: 70px;
  color: #B5B5B7;
  padding-top: 20px;
  margin-left: 10px;
}
.title {
  background-color: #252839;
  height: 110px;
  margin-bottom: 100px;
}

.logo{
  margin-top: 8px;
  float: left;
  text-align: center;
  width: 161.50px;
  height: 92.5px;
}

#signup{
  font-size: 30px;
  background-color: #F2B632;
}

.prev {
  position:absolute;
  top:75px;
  left:-80px;
  font-size: 50px;
  cursor: pointer;
}

.next {
  position:absolute;
  top:75px;
  right:-75px;
  font-size: 50px;
  cursor: pointer;
}

.sectTitle {
  color: #343641;
  text-align: center;
}

.local, .single, .online{
  padding-left: 1px;
  max-width: 200px;
  width: 200px;
  margin: 0 auto;
}

.contain{
  margin: 50px 100px 50px 100px;
  border-style: solid;
  background-color: #B5B5B7;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
}

h2.gameName{
  text-align: center;
  margin-top: 10px;
  color: #343641;
}

img.static{
  position: absolute;
  height: 200px;
  width: 200px;
  z-index: 2;
}

img.gif{
  height: 200px;
  width: 200px;
  z-index: 1;
}

img.static:hover{
  opacity: 0;
}


::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}

.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: #B5B5B7;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
  color: #343641;
}
.eula {
  color: #343641;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  background: #252839;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner {
  border: 0;
}
#submit {
  color: #707075;
  margin-top: 40px;
  transition: color 300ms;
}
#submit:focus {
  color: #f2f2f2;
}
#submit:active {
  color: #d0d0d2;
}


