.navbar{
  font-size: 40px;
  font-family: 'alienS';
  height:75px;
  background-color: #252839;
}

.home {
  font-size: 40px;
  color: #B5B5B7;
  margin-top: 6px;
}

.home:hover {
  color: #fff;
}

img{
  width: 130px;
  height: 70px;
}

#login, #logout, #register, #stats{
  color: #B5B5B7;
  margin: 10px;

}

#login:hover, #logout:hover, #register:hover, #stats:hover{
  color: #fff;
  background-color: inherit;
}

span.exp, span.lvl, span.email{
  color: white;
}

.profileBadge{
  border: solid;
  display: inline-block;
  border-color: white;
  background-color: black;
  padding: 3px 4px;
  border-radius: 4px;
}
