nav {
  text-align: center;
  background-color: rgb(114,99,85);
  font-family: 'Prisma', sans-serif;
}

@font-face {
  font-family: "Prisma";
  src: url(fonts/prisma/Prisma.ttf);
}

a.bo3{
  font-size: 3vw;
  padding: 0;
}
