extends ../layout

block content
  include ../nav
  script(src="/javascripts/pong.js")
  script(language="javascript" type="text/javascript" src="../../vendors/p5.dom.js")
  script(language="javascript" type="text/javascript" src="../../vendors/p5.sound.js")
  div#scorecontainer
