extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/single/gamesingle-index.css')
  
  include ../nav.pug
  div.container
    div.row
      div.game.col-sm
        img
        h2.game-name Snake
      div.game.col-sm
      div.game.col-sm
      div.game.col-sm
      div.w-100
      div.game.col-sm
      div.game.col-sm
      div.game.col-sm
      div.game.col-sm
      
