extends ../layout

block content
  include ../nav.pug
  script(src="/javascripts/snake.js")
  script(language="javascript" type="text/javascript" src="../../vendors/p5.dom.js")
  script(language="javascript" type="text/javascript" src="../../vendors/p5.sound.js")

  div#myContainer