html, body {
  background: #F4B429 !important;
}
.contain{
  background-color: #252839;
  color: #C2C2C4;
  margin: 50px auto;
  width: 420px;
  border-radius: 5px;
}

form{
  margin: 15px;
}

#title{
  font-family: "alienS";
  text-align: center;
  font-size: 70px;
}

input{
  margin: 10px;
  border-radius: 10px;
}

.submit {
  margin-bottom: 15px;
  margin-left: 10px;
  margin-top: 10px;
  width: 170px;
  height: 38px;
  font-size: 25px;
  color: #252839;
  background-color: #F2B632;
  border-style: none;
}
.submit:active{
  font-size: 23px;
  -webkit-box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.63);
  -moz-box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.63);
  box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.63);
}
.loginErrorMsg{
  display: inline-block;
  text-align: center;
  margin-top: 50px;
  width: 50%;
  border-radius: 4px;
  color: #C2C2C4;
  background-color: #242837;
  -webkit-box-shadow: -1px 0px 26px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 26px 2px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 26px 2px rgba(0,0,0,0.75);
}
.lem{
  padding: 5px;
}
.loginErrorCont{
  text-align: center;
  display: block;
}
@media (max-width: 852px) {
  .loginErrorMsg{
    width: 420px;
  }
}
