extends ../../layout

block content
  include ../../nav
  link(rel="stylesheet", href="/stylesheets/local-multi/pong.css")
  script(src="/javascripts/local-multi/pong/pong.js")
  script(language="javascript" type="text/javascript" src="../../../../vendors/p5.dom.js")
  script(language="javascript" type="text/javascript" src="../../../../vendors/p5.sound.js")
  a(href='/game/multi/local/pong')
    button.btn.btn-primary#playagain Play Again
  div#scorecontainer

