extends ../../layout

block content
  link(rel="stylesheet", href="/stylesheets/local-multi/snake.css")
  link(rel="stylesheet", href="/stylesheets/games.css")
  script(src="/javascripts/local-multi/snake/snake.js")
  script(language="javascript" type="text/javascript" src="../../../../vendors/p5.dom.js")
  script(language="javascript" type="text/javascript" src="../../../../vendors/p5.sound.js")
  script(language="javascript" type="text/javascript" src="../../../../vendors/p5.play.js")

  body
    include ../../nav.pug

    div#snakeContainer
    div.controlsCont
      h3 Controls
        h5 Player 1: W,A,S,D
        h5 Player 2: I,J,K,L
        h5 Goal: Outsurvive or kill your opponent

    div.contain
      h1.title More Local Games
      div.row
        div.col
          div.tron
            a.link(href='/game/multi/local/tron')
              img.static(src="/images/tron_static.png")
              img.gif(src="/images/tron.gif")
            h2.gameName Tron
        div.col
          div.pong
            a.link(href='/game/multi/local/pong')
              img.static(src="/images/pong_static.png")
              img.gif(src="/images/pong.gif")
            h2.gameName Pong
