extends ../../layout

block content
  include ../../nav.pug
  link(rel="stylesheet", href="/stylesheets/local-multi/snake.css")
  script(src="/javascripts/local-multi/snake/snake.js")
  script(language="javascript" type="text/javascript" src="../../../../vendors/p5.dom.js")
  script(language="javascript" type="text/javascript" src="../../../../vendors/p5.sound.js")
  script(language="javascript" type="text/javascript" src="../../../../vendors/p5.play.js")

  div#snakeContainer
