extends ../../layout

block content
  include ../../nav.pug
  link(href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet")
  link(rel="stylesheet", href="/stylesheets/online-multi/snake.css")

  body
    script
      var user_id = #{user_id};

    div#snakeContainer
    div#countContainer
      h2.count User count:
        span#counter

    div.container
      h1.title More Online Games
      div.tron
        a.link(href='/game/multi/online/tron')
          img.static(src="/images/tron_static.png")
          img.gif(src="/images/tron.gif")
        h2.gameName Tron

    script(src="/javascripts/online-multi/snake/snake.js")
      currentPlayer=user
    script(language="javascript" type="text/javascript" src="../../../../vendors/p5.sound.js")
    script(language="javascript" type="text/javascript" src="../../../../vendors/p5.play.js")
    script(language="javascript" type="text/javascript" src="../../../../vendors/p5.dom.js")
