extends ../../layout

block content
  include ../../nav.pug
  link(href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet")
  link(rel="stylesheet", href="/stylesheets/online-multi/snake.css")
  script(src="/javascripts/online-multi/snake/snake.js")
  script(language="javascript" type="text/javascript" src="../../../../vendors/p5.dom.js")
  script(language="javascript" type="text/javascript" src="../../../../vendors/p5.sound.js")
  script(language="javascript" type="text/javascript" src="../../../../vendors/p5.play.js")

  body
    div#snakeContainer
    form.formm
      div.inputGroup
        input#option1(name="option1", type="checkbox")
        label(for="option1") Ready?
    div#countContainer
      h2.count User count:
        span#counter


