extends ../../layout

block content
  include ../../nav.pug
  link(href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet")
  link(rel="stylesheet", href="/stylesheets/online-multi/snake.css")

  body
    script.
      if("#{user_id}") { user_id="#{user_id}" } else {user_id='guest'}
    div#bigContainer
      button#rematchL.btn.rematch Rematch
      button#rematchR.btn.rematch Rematch
      div.progress-bar.PL
      svg.checkL(x="0px" y="0px" viewBox="0 0 25 30" style="enable-background:new 0 0 25 30;")
        path.check.st0(d="M2,19.2C5.9,23.6,9.4,28,9.4,28L23,2")
      div.progress-bar.PR
      svg.checkR(x="0px" y="0px" viewBox="0 0 25 30" style="enable-background:new 0 0 25 30;")
        path.check.st0(d="M2,19.2C5.9,23.6,9.4,28,9.4,28L23,2")

    div.controlsCont
      h3 Controls
        h5 Player 1: W,A,S,D
        h5 Player 2: ^,v,<,>
        h5 Goal: Avoid colliding with other snakes and walls in order to survive and win!

    div.contain
      h1.title More Online Games
      div.tron
        a.link(href='/game/multi/online/tron')
          img.static(src="/images/tron_static.png")
          img.gif(src="/images/tron.gif")
        h2.gameName Tron

    script(src="/javascripts/online-multi/snake/snake.js")
    script(language="javascript" type="text/javascript" src="../../../../vendors/p5.sound.js")
    script(language="javascript" type="text/javascript" src="../../../../vendors/p5.play.js")
    script(language="javascript" type="text/javascript" src="../../../../vendors/p5.dom.js")
