#snakeContainer{
  margin: 75px auto;
  text-align: center;
  width: 1000px;
  max-width: 1000px;
  background-color: #677077;
  height: 575px;
}

#matching {
  text-align: center;
  margin-top: 3vh;
  color: black;
  font-size: 2em;
}

#countContainer {
  text-align: center;
}

.count {
  color: black;
}

.Lscore{
  float: left;
  margin-left: 25px;
  display: inline-block;
  width: auto;
  font-size: 1.5em;
}

.Rscore{
  float: right;
  margin-right: 25px;
  display: inline-block;
  width: auto;
  font-size: 1.5em;
}

button.rematch {
  margin: auto;
  text-align: center;
  display:block;
  width:175px;
  height:58px;
  line-height:50px;
  border-style: none;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  background: #424B54;
  box-shadow: 0 0 3px gray;
  font-size:20px;
  font-weight:bold;
}

button.rematch:hover {
  background: #373E45;
}

.tron, .snake, .pong{
  float: left;
  text-align: center;
}

h2.gameName{
  margin: 10px auto;
  color: #343641;
  width: 200px
}

img.static{
  margin: 25px;
  position: absolute;
  height: 250px;
  width: 250px;
  z-index: 2;
}

img.gif{
  margin: 25px;
  height: 250px;
  width: 250px;
  z-index: 1;
}

img.static:hover{
  opacity: 0;
}

.controlsCont{
  display: block;
  text-align: center;
  border: solid;
  width: 50%;
  margin: 5px auto;
  border-radius: 5px;
  padding: 5px;
}
