#bigContainer{
  position: relative;
  margin: 75px auto;
  width: 1000px;
  max-width: 1000px;
  background-color: #677077;
  height: 575px;
}

.Lscore{
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 1.5em;
}

.Rscore{
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 1.5em;
}

.score {
  text-align: center;
  margin: 9px auto;
  font-size: 20px;
  width: 250px;
}

#rematchR{
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 9px;
  width:175px;
  height:58px;
  color:#f5f5f5;
  background: #272A3A;
  font-size:20px;
}

#rematchL{
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 9px;
  width:175px;
  height:58px;
  color:#f5f5f5;
  background: #272A3A;
  font-size:20px;
}

#rematchL:hover, #rematchR:hover {
  background: #2F3347;
}

.tron, .snake, .pong{
  float: left;
  text-align: center;
}

h2.gameName{
  margin: 10px auto;
  color: #343641;
  width: 200px
}

img.static{
  margin: 25px;
  position: absolute;
  height: 250px;
  width: 250px;
  z-index: 2;
}

img.gif{
  margin: 25px;
  height: 250px;
  width: 250px;
  z-index: 1;
}

img.static:hover{
  opacity: 0;
}

.controlsCont{
  display: block;
  text-align: center;
  border: solid;
  width: 50%;
  margin: 5px auto;
  border-radius: 5px;
  padding: 5px;
}

.PL{
  bottom: 0;
  left: 0;
  display: none;
}

.PR{
  display: none;
  right: 0;
  bottom: 0;
}

svg {
  position: absolute;
  width: 25px;
}

.progress-bar {
  margin: 7px;
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 200px;
  background: #E54634;
}

.checkR{
  display: none;
  bottom: 23px;
  right: 24px;
}

.checkL{
  display: none;
  bottom: 23px;
  left: 24px;
}

.checkL, .checkR {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

