.tron, .snake, .pong{
  float: left;
  text-align: center;
}

h2.gameName{
  margin: 10px auto;
  color: #343641;
  width: 200px
}

img.static{
  margin: 25px;
  position: absolute;
  height: 250px;
  width: 250px;
  z-index: 2;
}

img.gif{
  margin: 25px;
  height: 250px;
  width: 250px;
  z-index: 1;
}

img.static:hover{
  opacity: 0;
}
