body{
  background-color: #eaeaea;
}
#snakeContainer{
  margin-top: 20px;
  text-align: center;
}

.Lscore{
  position absolute;
  display: inline-block;
  width: auto;
}

.Rscore{
  position: absolute;
  display: inline-block;
  width: auto;
}

.rematch{
  margin: 0 auto;
}